<div class="layout-wrapper">
  {% if page.sidebar %}
    <aside class="site-sidebar" role="complementary">
      {{ page.sidebar }}
    </aside>
  {% endif %}
  {% if page.content %}
    <main id="main-content" role="main">
      {{ page.content }}
    </main>
  {% endif %}
</div>
