{% extends "html.html.twig" %}

{% block page %}
  <main class="styleguide-wrapper" role="main">
    <h1>Style Guide</h1>

    {# Include components to preview here #}
    {% include "@unfussy/example-component/example-component.twig" %}
  </main>
{% endblock %}
